Repository imdotnhsang/portfolio: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    prettier:
      glob: '*.{js,ts,jsx,tsx,css,scss,json,md}'
      run: npx prettier --write {staged_files} && git add .
    eslint:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx eslint {staged_files} --quiet

feat(app): update footer
  scripts/_config-generate.mjs
  scripts/generate-index.mjs
  src/components/atoms/modal/index.tsx
  src/components/molecules/index.ts
  src/constants/core.ts
  src/constants/env.ts
  src/organisms/locale/footer/index.tsx
  src/organisms/locale/footer/partials/button-kofi/index.tsx
  src/organisms/locale/footer/partials/button-momo/index.tsx
  src/organisms/locale/footer/partials/fork-n-start-repo/index.tsx
  src/organisms/locale/footer/partials/index.ts
  src/organisms/locale/header/index.tsx
  src/organisms/locale/index.ts
  src/organisms/locale/intro/index.tsx
  src/organisms/locale/metrics/index.tsx
  src/styles/_animate.scss
  src/templates/locale/index.tsx
Due: prettier, eslint

feat(app): update index generate
  scripts/_config-generate.mjs
  scripts/generate-index.mjs
Due: none

feat(app): enhance generator index
  .env.sample
  public/locales/en.json
  public/locales/vi.json
  scripts/_config-generate.mjs
  scripts/generate-index.mjs
  src/assets/index.ts
  src/assets/lotties/index.ts
  src/assets/svgs/index.ts
  src/components/atoms/index.ts
  src/components/atoms/modal/index.tsx
  src/components/index.ts
  src/components/molecules/index.ts
  src/components/molecules/under-construction/index.tsx
  src/configs/index.ts
  src/constants/env.ts
  src/constants/index.ts
  src/hocs/index.ts
  src/hooks/index.ts
  src/interfaces/index.ts
  src/layouts/index.ts
  src/organisms/index.ts
  src/organisms/locale/footer/index.tsx
  src/organisms/locale/footer/partials/button-kofi/index.tsx
  src/organisms/locale/footer/partials/button-momo/index.tsx
  src/organisms/locale/footer/partials/fork-n-start-repo/index.tsx
  src/organisms/locale/index.ts
  src/organisms/locale/intro/index.tsx
  src/services/index.ts
  src/templates/index.ts
  src/theme/index.ts
  src/types/index.ts
  src/utils/index.ts
Due: prettier, eslint

chore(app): update linter
  .node-version
  eslint.config.mjs
  package-lock.json
  package.json
  scripts/generate-index.mjs
  tsconfig.json
Due: prettier

chore(app): remove linter
  eslint.config.mjs
Due: none

feat: test git ssh
  README.md
Due: prettier
