Repository imdotnhsang/portfolio: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

eslint:
  run: npm run lint:fix

prettier:
  run: npm run format

feat(app): test deployment
  src/app/page.tsx
Due: eslint, prettier

feat(app): test deployment (#5)
  src/app/page.tsx
Due: eslint, prettier

Staging (#6)
  src/app/page.tsx
Due: eslint, prettier

build(app): test bash ignore build
  scripts/ignored-build-step.sh
Due: none

chore(app): add pr template
  .github/pull_request_template.md
Due: prettier

chore(app): set up e2e playwright
  .eslintrc.js
  .github/pull_request_template.md
  .gitignore
  package.json
  playwright.config.ts
  tests/app.spec.ts
Due: eslint, prettier

chore(app): set up playwright e2e and pr template
  .eslintrc.js
  playwright.config.ts
  tests/app.spec.ts
Due: eslint, prettier

chore(app): set up vitest github action
  .env.sample
  .github/workflows/run-unit-tests.yml
  src/constants/env.ts
  src/constants/index.ts
  src/utils/index.ts
  src/utils/media.test.ts
  src/utils/media.ts
  vitest.config.ts
Due: eslint, prettier

Chore/set up tests github actions trial (#9)
  .env.sample
  .eslintrc.js
  .github/pull_request_template.md
  .github/workflows/run-unit-tests.yml
  .gitignore
  package.json
  src/constants/env.ts
  src/constants/index.ts
  src/utils/index.ts
  src/utils/media.test.ts
  src/utils/media.ts
  tests/app.spec.ts
  vitest.config.ts
Due: eslint, prettier

chore(app): try run github actions
  lefthook.yml
  src/constants/index.ts
  src/utils/media.test.ts
  vitest.config.ts
Due: eslint, prettier

chore(app): test snapshot
  .github/workflows/ci.yml
  .github/workflows/run-e2e-tests.yml
  .github/workflows/run-unit-tests.yml
  package.json
  src/components/button/__snapshots__/index.test.tsx.snap
  src/components/button/index.tsx
Due: eslint, prettier

chore(app): fix prettier
  .github/workflows/ci.yml
Due: none

chore(app): upload coverage
  .github/workflows/ci.yml
Due: none

chore(app): fix ci yml
  .github/workflows/ci.yml
Due: none

chore(app): try precommit prettier
  lefthook.yml
  src/utils/media.ts
Due: eslint, prettier

chore(app): set up github actions (#10)
  .github/workflows/ci.yml
  .github/workflows/run-e2e-tests.yml
  .github/workflows/run-unit-tests.yml
  lefthook.yml
  package.json
  src/components/button/__snapshots__/index.test.tsx.snap
  src/components/button/index.tsx
  src/constants/index.ts
  src/utils/media.test.ts
  src/utils/media.ts
  vitest.config.ts
Due: eslint, prettier

chore(app): set up locales lang
  .eslintrc.js
  next.config.js
  package-lock.json
  package.json
  src/app/[locale]/about-me/page.tsx
  src/app/[locale]/contact-me/page.tsx
  src/app/[locale]/error.tsx
  src/app/[locale]/favicon.ico
  src/app/[locale]/layout.tsx
  src/app/[locale]/loading.tsx
  src/app/[locale]/not-found.tsx
  src/app/[locale]/page.tsx
  src/app/[locale]/projects/page.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/components/index.ts
  src/components/input/index.tsx
  src/components/no-ssr/index.tsx
  src/constants/regex.ts
  src/hooks/index.ts
  src/hooks/useMergeState.ts
  src/locales/.gitkeep
  src/locales/en.json
  src/locales/vi.json
  src/middleware.ts
  src/services/i18n.ts
Due: eslint, prettier

chore(app): update import order
  src/components/button/index.tsx
  src/components/input/index.tsx
  src/components/no-ssr/index.tsx
Due: eslint, prettier

chore(app): set up locales lang (#11)
  .eslintrc.js
  next.config.js
  package-lock.json
  package.json
  src/app/[locale]/about-me/page.tsx
  src/app/[locale]/contact-me/page.tsx
  src/app/[locale]/error.tsx
  src/app/[locale]/favicon.ico
  src/app/[locale]/layout.tsx
  src/app/[locale]/loading.tsx
  src/app/[locale]/not-found.tsx
  src/app/[locale]/page.tsx
  src/app/[locale]/projects/page.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/components/button/index.tsx
  src/components/index.ts
  src/components/input/index.tsx
  src/components/no-ssr/index.tsx
  src/constants/regex.ts
  src/hooks/index.ts
  src/hooks/useMergeState.ts
  src/locales/.gitkeep
  src/locales/en.json
  src/locales/vi.json
  src/middleware.ts
  src/services/i18n.ts
Due: eslint, prettier

chore(app): config colors
  tailwind.config.js
Due: eslint, prettier

chore(app): config colors, border, rounded
  src/app/[locale]/page.tsx
  src/styles/_reset.scss
  src/themes/index.ts
  tailwind.config.js
Due: eslint, prettier

chore(app): add prettier tailwindcss
  .prettierrc
  package-lock.json
  package.json
  src/app/[locale]/page.tsx
Due: eslint, prettier

chore(app): add icons package
  package-lock.json
  package.json
Due: prettier

Chore/config tailwind style (#12)
  .prettierrc
  package-lock.json
  package.json
  src/app/[locale]/page.tsx
  src/styles/_reset.scss
  src/themes/index.ts
  tailwind.config.js
Due: eslint, prettier

feat(app): create button component, upgrade story book
  .storybook/main.ts
  .storybook/preview.ts
  package-lock.json
  package.json
  src/app/[locale]/layout.tsx
  src/app/[locale]/page.tsx
  src/components/button/__snapshots__/index.test.tsx.snap
  src/components/button/index.stories.tsx
  src/components/button/index.test.tsx
  src/components/button/index.tsx
  src/components/input/index.stories.tsx
  tailwind.config.js
Due: eslint, prettier

feat(app): button doc and unit test
  .storybook/main.ts
  .storybook/preview.ts
  src/app/[locale]/about-me/page.tsx
  src/app/[locale]/contact-me/page.tsx
  src/app/[locale]/page.tsx
  src/app/[locale]/projects/page.tsx
  src/app/global-error.tsx
  src/components/button/__snapshots__/index.test.tsx.snap
  src/components/button/index.stories.tsx
  src/components/button/index.test.tsx
  src/components/card-project/index.tsx
Due: eslint, prettier

feat(app): create button component, upgrade story book (#13)
  .storybook/main.ts
  .storybook/preview.ts
  package-lock.json
  package.json
  src/app/[locale]/about-me/page.tsx
  src/app/[locale]/contact-me/page.tsx
  src/app/[locale]/layout.tsx
  src/app/[locale]/page.tsx
  src/app/[locale]/projects/page.tsx
  src/app/global-error.tsx
  src/components/button/__snapshots__/index.test.tsx.snap
  src/components/button/index.stories.tsx
  src/components/button/index.test.tsx
  src/components/button/index.tsx
  src/components/card-project/index.tsx
  src/components/input/index.stories.tsx
  tailwind.config.js
Due: eslint, prettier

feat(app): write input component
  package-lock.json
  package.json
  src/components/button/__snapshots__/index.test.tsx.snap
  src/components/button/index.stories.tsx
  src/components/button/index.test.tsx
  src/components/button/index.tsx
  src/components/input/__snapshots__/index.test.tsx.snap
  src/components/input/index.stories.tsx
  src/components/input/index.test.tsx
  src/components/input/index.tsx
  tailwind.config.js
Due: eslint, prettier

feat(app): add coming soon page
  src/app/[locale]/coming-soon/page.tsx
  src/app/[locale]/layout.tsx
  src/app/[locale]/page.tsx
  src/middleware.ts
Due: eslint, prettier

feat(app): write input component (#14)
  package-lock.json
  package.json
  src/app/[locale]/coming-soon/page.tsx
  src/app/[locale]/layout.tsx
  src/app/[locale]/page.tsx
  src/components/button/__snapshots__/index.test.tsx.snap
  src/components/button/index.stories.tsx
  src/components/button/index.test.tsx
  src/components/button/index.tsx
  src/components/input/__snapshots__/index.test.tsx.snap
  src/components/input/index.stories.tsx
  src/components/input/index.test.tsx
  src/components/input/index.tsx
  src/middleware.ts
  tailwind.config.js
Due: eslint, prettier

feat(app): add icon, card project component
  src/app/[locale]/layout.tsx
  src/app/[locale]/page.tsx
  src/components/button/__snapshots__/index.test.tsx.snap
  src/components/button/index.test.tsx
  src/components/card-project/__snapshots__/index.test.tsx.snap
  src/components/card-project/index.stories.tsx
  src/components/card-project/index.test.tsx
  src/components/card-project/index.tsx
  src/components/index.ts
  src/components/input/__snapshots__/index.test.tsx.snap
  src/components/input/index.test.tsx
  src/components/technology-icon/__snapshots__/index.test.tsx.snap
  src/components/technology-icon/configs.tsx
  src/components/technology-icon/index.stories.tsx
  src/components/technology-icon/index.test.tsx
  src/components/technology-icon/index.tsx
  src/middleware.ts
  tailwind.config.js
Due: eslint, prettier

chore(app): add ci on stg
  .github/workflows/ci.yml
Due: none

fix(app): card prj test
  src/components/card-project/__snapshots__/index.test.tsx.snap
  src/components/technology-icon/__snapshots__/index.test.tsx.snap
Due: none

feat(app): add icon, card project component (#15)
  .github/workflows/ci.yml
  src/app/[locale]/layout.tsx
  src/app/[locale]/page.tsx
  src/components/button/__snapshots__/index.test.tsx.snap
  src/components/button/index.test.tsx
  src/components/card-project/__snapshots__/index.test.tsx.snap
  src/components/card-project/index.stories.tsx
  src/components/card-project/index.test.tsx
  src/components/card-project/index.tsx
  src/components/index.ts
  src/components/input/__snapshots__/index.test.tsx.snap
  src/components/input/index.test.tsx
  src/components/technology-icon/__snapshots__/index.test.tsx.snap
  src/components/technology-icon/configs.tsx
  src/components/technology-icon/index.stories.tsx
  src/components/technology-icon/index.test.tsx
  src/components/technology-icon/index.tsx
  src/middleware.ts
  tailwind.config.js
Due: eslint, prettier

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx}
  prettier: any of: *.{js,ts,jsx,tsx,css,scss,json,md}
